<div class="container-fluid">
    <div class="row">
        <div class="ad col-sm-6" id="ad1">
            Add 1
        </div>
        <div class="ad col-sm-6" id="ad2">
            Add 2
        </div>
    </div>
    <br>
    <div class="row" id="navigation">
        <div id="searchForm" class="col-sm-4">
            <!--<form action="member/search" method="get">-->
            <div class="fullwidth">
                <input id="searchField" type="text" [(ngModel)]="searchPattern">
                <!--<button id="searchButton" type="submit" class="btn btn-success" (click)="search()">Search</button>-->
                <button id="searchButton" type="submit" class="btn btn-success" (click)="go('search')">Search</button>
            </div>
            <!--</form>-->
        </div>
        <div class="col-sm-8">
            <div class="btn-group fullwidth" role="group">
                <!--<a id="homeButton" class="btn btn-primary navButton" [routerLink]="['home', username]" routerLinkActive="active">home</a>-->
                <a id="homeButton" class="btn btn-primary navButton" (click)="go('home')">home</a>
                <!--<a id="messagesButton" class="btn btn-primary navButton" routerLink="./messages" routerLinkActive="active">
                    <span id="messageCount" class="badge">{{messageCount}}</span>     messages    
                </a>-->
                <a id="messagesButton" class="btn btn-primary navButton" (click)="go('messages')">
                    <span id="messageCount" class="badge">{{messageCount}}</span>     messages    
                </a>
                <!--<a id="premiumButton" class="btn btn-primary navButton" routerLink="./premium" routerLinkActive="active">premium</a>-->
                <a id="premiumButton" class="btn btn-primary navButton" (click)="go('premium')">premium</a>
                <button id="signOutButton" class="btn btn-primary navButton" (click)="signout()">signout</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row" [ngSwitch]="view">
        <member-home *ngSwitchCase="'home'" [username]="username"></member-home>
        <member-messages *ngSwitchCase="'messages'" [username]="username"></member-messages>
        <member-premium *ngSwitchCase="'premium'" [username]="username"></member-premium>
        <member-search *ngSwitchCase="'search'" [username]="username" [searchPattern]="searchPattern" (userSelect)="visitUser($event)"></member-search>
        <member-other *ngSwitchCase="'other'" [username]="username" [othersName]="othersName"></member-other>

        <!--<router-outlet></router-outlet>-->

    </div>
</div>
